@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Roboto&display=swap');

:root{
  --fonte-principal:'Pacifico', cursive;
  --fonte-secundaria:'Roboto', sans-serif;
  --vermelho-principal:#8D0606;
  --cinza-claro:#8C8888;
  --cinza-background:#E5E5E5;
  --cinza-footer:#C4C4C4;
}
