header{
	background:#bbb;
	padding: 20px 0;
}

.caixa{
	width:940px;
	position:relative;
	margin:0 auto;
}

nav{
	position:absolute;
	top:110px;
	right:0;
}

nav li{
	display:inline;
	margin:0 0 0 15px; 
}

nav a{
	text-decoration:none;
	font-size: 22px;
	text-transform: uppercase;
	font-weight: bold;
	color: #000;
}

nav a:hover{
	color: #c78c19;
	text-decoration: underline;
}

main{
    width: 940px;
    margin: 0 auto;
}

form{
  margin: 40px 0;
}

form label{
  display:block;
  font-size: 20px;
  margin:0 0 10px;
}

form input{
  display:block;
  margin: 0 0 20px;
  padding:10px 25px;
  width:50%;
}

footer{
		padding: 40px 0;
	text-align:center;
	background:url("../img/bg.jpg");
}

.copyright{
	color:#fff;
	font-size:13px;
	margin:20px 0 0;
}
