.populares{
  padding:3rem 0;
}

.populares__conteudo{
  display:flex;
  justify-content:space-around;
  grid-area:conteudo;
}

.populares__card{
  background:#fcfcfc;
  display:grid;
  grid-template-areas:
    "card-imagem"
    "card-corpo";
  grid-template-columns:100%;
  grid-template-rows:50% auto;
  grid-row-gap:.5rem;
  width:18%;
  height:auto;
}

.populares__card___imagem{
  grid-area:card-imagem;
  height:100%;
  width:100%;
}

.populares__card___corpo{
  display:grid;
  grid-area:card-corpo;
  grid-row-gap:.5rem;
  grid-template-areas:
    "card-cabecalho"
    "card-conteudo";
  grid-template-rows: 50px 80px;
  overflow:hidden;
  background:#fcfcfc;
  padding:.75rem;
}

.populares__card___titulo{
  color:#333333;
  font-size:1.5rem;
}
