body{
    font-family:'Montserrat', sans-serif;
}

header {
	background: #BBBBBB;
	padding: 20px 0;
}

.caixa {
	position: relative;
	width: 940px;
	margin: 0 auto;
}

nav {
	position: absolute;
	top: 110px;
	right: 0;
}

nav li {
	display: inline;
	margin: 0 0 0 15px;
}

nav a {
	text-transform: uppercase;
	color: #000000;
	font-weight: bold;
	font-size: 22px;
	text-decoration: none;
}

nav a:hover {
	color: #C78C19;
	text-decoration: underline;
}

.banner {
    width:100%;
}

.principal{
  padding:3em 0;
  background: #FEFEFE;
  width:940px;
  margin:0 auto;
}

.titulo-principal {
    text-align: center;
    font-size: 2em;
    margin: 0 0 1em;
    clear: left;
}

.principal p {
    margin: 0 0 1em;
}

.principal strong {
    font-weight: bold;
}

.principal em {
    font-style: italic;
}

.mapa{
  padding: 0 0 2em;
  background: linear-gradient(#FEFEFE,#888);
}

.mapa p{
  margin: 0 0 2em;
  text-align: center;
}

.mapa-conteudo{
  width:940px;
  margin: 0 auto;
}

.utensilios {
    width: 120px;
    float: left;
    margin: 0 20px 20px 0;
}

.beneficios{
  padding: 3em 0;
  background: #888;
}

.conteudo-beneficios{
  width:640px;
  margin: 0 auto;
}

.lista-beneficios{
  width: 40%;
  display:inline-block;
  vertical-align:top;
}

.itens{
  line-height:1.5;
}

.itens:before{
  content:"★";
}

.itens:first-child{
  font-weight:bold;
}

.imagem-beneficios {
    width: 60%;
}

.video{
  width: 560px;
  margin:2em auto;
}

footer {
	text-align: center;
	background: url("./../img/bg.jpg");
	padding: 40px 0;
}

.copyright {
	color: #FFFFFF;
	font-size: 13px;
	margin: 20px 0 0;
}

